<div class="footer">
    <div class="container">
        <div class="row">
  
  
            <div class="col-md-12 col-xs-12">
                <div class="third">
                    <h4 class="contact"> Contactame!</h4>
                    <div class="contacto">
  
                        <ul style="margin-top: 5rem">
                            <li>Balestra Matias </li>
                            <li></li>
      
      
                          <li><i class="far fa-envelope"></i> matiasx30@gmail.com</li>
                            
      
                          <li><i class="fas fa-map-marker-alt"></i> Santa Fe, Argentina </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="line"></div>
                <div class="second2">
                    <a href="https://linktr.ee/matiasbalestra" target="_blank"> <i class="fa fa-hand-peace-o  fa-2x  margin"></i></a>
                    <a href="https://github.com/MatiasBalestra" target="_blank"> <i class="fab fa-github fa-2x margin"></i></a>
                    <a href="https://www.linkedin.com/in/matias-balestra/" target="_blank"> <i class="fab fa-linkedin fa-2x margin"></i></a>
       
  
                </div>
  
            </div>
        </div>
        </div>
  </div>
  