.projectosall {
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    margin-top: 7rem;
    color:white
}

.container {
    box-shadow: 0 2px 5px 0 rgba(241, 235, 235, 0.25), 0 3px 10px 0 rgba(0, 0, 0, 0.2)!important;

}

h3, h5 {
    color:#0D6EFD
}

.container:hover {
    box-shadow: 0 2px 5px 0 rgba(121, 214, 80, 0.25), 0 3px 10px 0 rgba(114, 253, 54, 0.2)!important;
}